@import 'varible.less';

*{
    margin:0;
    padding:0;
}
html{
    font-size: 50px;
}
html,body{
    height:100%;
}
body{
    font-size: 16px;
    font-family: -apple-system-font,PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
    background: #f7f7f7;
}
li{
    list-style:none;
}
img{
    display:block;
}
.container{
    width: 100%;
    height: 100%;
    overflow: auto;
    .border-box;
    -webkit-overflow-scrolling: touch;
}

/*popup弹出框*/
.weui-popup__container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    .weui-popup__modal {
        width: 100%;
        position: absolute;
        bottom: 0;
        color: #3d4145;
        height: 100%;
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        .toolbar {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            font-size: 18px;
            line-height: 1.5;
            color: #3d4145;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: auto;
                right: auto;
                height: 1px;
                width: 100%;
                background-color: #d9d9d9;
                display: block;
                z-index: 15;
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
            }
            .toolbar-inner {
                height: 44px;
                .display-flex;
                text-align: center;
                .title {
                    position: absolute;
                    display: block;
                    width: 100%;
                    padding: 0;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 44px;
                    color: #333;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
        .modal-content {
            height: 100%;
            padding-top: 44px;
            .border-box;
            overflow: auto;
            -webkit-overflow-scrolling:touch;
        }
        .modal-footer{
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}

/*weui-btn按钮*/
.weui-btn_white{
    font-size: 16px;
    color: #666;
    line-height: 3.2;
    background-color: #fff;
}
.weui-btn_white:not(.weui-btn_disabled):visited{
    color: #333;
}
.weui-btn_login{
    background-color: #ea6f5a;
    margin-top: 1.2rem;
}
.weui-btn_disabled.weui-btn_login{
    background-color: #f9907e;
}

/*we-cell列表视图*/
.weui-cells{
    line-height: 1.47058824;
    .weui-cell{
        &:before{
            border-top: 1px solid #e5e5e5;
            color: #e5e5e5;
        }
    }
}

/*登录框*/
.login-form{
    margin-top: 1.2rem;
    padding: 0 30px;
    li{
        border-bottom: 1px solid #f0f0f0;
        .display-flex;
        margin-bottom: 10px;
        .login-input-box{
            .flex-number;
            height: 1.1rem;
            position: relative;
            .login-input{
                border: 0;
                width: 100%;
                height: 1.1rem;
                padding-right: 20px;
                outline: none;
                font-size: 16px;
                .border-box;
            }
            .weui-icon-clear{
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -7px;
            }
            .login-input:not(:valid)~.weui-icon-clear{
                display: none;
            }
        }
        .login-input-link{
            width: 2rem;
            line-height: 1.1rem;
            text-align: right;
            font-size: 14px;
            color: @base-color;
            &.forbid{
                color: #999;
            }
        }
    }
    .login-link-box{
        margin-top: .6rem;
        .display-flex;
        justify-content: space-between;
        .login-link{
            font-size: 14px;
            color: #5195d5;
            line-height: 24px;
        }
    }
    .login-forget-pwd{
        position: absolute;
        top: -.8rem;
        right: 0;
        font-size: 14px;
        color: #5195d5;
        line-height: 24px;
    }
}
